@charset "utf-8";
body {
    font-size: 13px;
    color: #565656;
}

body,
ul,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
span,
form,
img,
div,
option,
input,
button,
checkbox {
    border: none;
    margin: 0;
    padding: 0;
    outline: 0 none;
    font-family: Arial, "微软雅黑";
}

* {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
button,
input[type='button'] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-appearance: none;
}

.hidden {
    display: none;
}

.clr {
    clear: both;
}

.clr:after {
    content: ' ';
    display: block;
    clear: both;
}

.conTxtToDot {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text_center {
    text-align: center;
}

.color_red {
    color: #F44336;
}

.color_blue {
    color: #03A9F4;
}

.color_green {
    color: #4CAF50;
}

.color_gray {
    color: #b0afaf;
}

.color_orange {
    color: #e47107;
}

.indexContainer {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    background: linear-gradient(to bottom, #434343, #000000);
}

.indexContainer .inputArea {
    position: absolute;
    width: 100%;
    top: 23%;
    top: calc(50% - 150px);
}

.indexContainer .inputArea h2 {
    margin-bottom: 20px;
    color: #ffd27c;
}

.indexContainer .inputArea input {
    background: transparent;
    border-bottom: 1px solid #c6c5b9;
    padding: 10px 10px 10px 31px;
    color: #c6c5b9;
    font-size: 1.1em;
    margin-left: -25px;
}

.indexContainer .inputArea img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.indexContainer .inputArea>div {
    margin-bottom: 20px;
}

.indexContainer .btn {
    width: 212px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: #7b7b7b;
    border: 1px solid #fff;
    color: #fff;
}

.overlay {
    -webkit-filter: blur(140px);
    -moz-filter: blur(140px);
    -ms-filter: blur(140px);
    filter: blur(140px);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: none;
    animation: breath 2s infinite alternate;
    -webkit-animation: breath 2s infinite alternate;
}

@keyframes breath {
    from {
        -webkit-filter: blur(120px);
        -moz-filter: blur(140px);
        -ms-filter: blur(140px);
        filter: blur(140px);
    }
    to {
        -webkit-filter: blur(60px);
        -moz-filter: blur(60px);
        -ms-filter: blur(60px);
        filter: blur(60px);
    }
}

@-webkit-keyframes breath {
    from {
        -webkit-filter: blur(140px);
        -moz-filter: blur(140px);
        -ms-filter: blur(140px);
        filter: blur(140px);
    }
    to {
        -webkit-filter: blur(60px);
        -moz-filter: blur(60px);
        -ms-filter: blur(60px);
        filter: blur(60px);
    }
}

.overlayText {
    position: absolute;
    z-index: 4;
    color: #2b2b2b;
    font-size: 1.3em;
    top: 41%;
    text-align: center;
    width: 100%;
    display: none;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.resultArea {
    display: none;
}

.resultArea .blockArea {
    margin-top: 490px;
}

.resultArea .subArea {
    color: #fff;
    font-size: 1.2em;
    padding: 0 15px;
    border: 1px solid #c1c0b4;
    margin: 10px;
    border-radius: 3px;
}

.resultArea .subArea p {
    margin: 5px 0;
}

.resultArea .subArea2 p {
    margin: 15px 0;
    line-height: 25px;
}

.resultArea .subTitle {
    color: #ffd27c;
    font-size: 1.3em;
    margin: 15px 10px;
}

.resultArea .againBtn {
    background-color: #ffd27c;
    color: #fff;
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #FF9800;
    border-radius: 3px;
}

.spaceArea {
    position: relative;
    height: 1px;
}

.triangleUp {
    background: url(../img/triangle.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 115px;
    height: 76px;
    text-align: center;
    padding-top: 47px;
    color: #fff;
}

.triangleDown {
    background: url(../img/triangle.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 115px;
    height: 76px;
    text-align: center;
    padding-top: 47px;
    color: #fff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rectangle {
    position: absolute;
    width: 60px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    border: 2px solid #babaae;
}

.triangleDown i {
    -webkit-transform: rotate(180deg) translateY(-18px);
    transform: rotate(180deg) translateY(-18px);
    display: block;
}

.triangleUp b {
    display: block;
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 1.1em;
}

.spaceArea>div.triangleUp:nth-child(1) {
    top: -15px;
    left: 35%;
    left: calc( 50% - 50px);
}

.spaceArea>div.triangleUp:nth-child(2) {
    top: 65px;
    left: 35%;
    left: calc( 50% - 50px);
}

.spaceArea>div.triangleUp:nth-child(3) {
    top: 97px;
    left: 11%;
    left: calc( 50% - 145px);
}

.spaceArea>div.triangleUp:nth-child(4) {
    top: 97px;
    left: 63%;
    left: calc( 50% - -45px);
}

.spaceArea>div.rectangle:nth-child(1) {
    top: 220px;
    left: 3%;
}

.spaceArea>div.rectangle:nth-child(2) {
    top: 220px;
    left: 22%;
    left: calc(25% - 0px);
}

.spaceArea>div.rectangle:nth-child(3) {
    top: 220px;
    left: 42%;
    left: calc(45% - -7px);
}

.spaceArea>div.rectangle:nth-child(4) {
    top: 220px;
    left: 42%;
    left: calc(45% - -88px);
    width: 80px;
}

.spaceArea>div.triangleDown:nth-child(1) {
    top: 260px;
    left: 11%;
    left: calc( 50% - 145px);
}

.spaceArea>div.triangleDown:nth-child(2) {
    top: 260px;
    left: 63%;
    left: calc( 50% - -45px);
}

.spaceArea>div.triangleDown:nth-child(3) {
    left: 35%;
    left: calc( 50% - 50px);
    top: 300px;
}

.spaceArea>div.triangleDown:nth-child(4) {
    left: 35%;
    left: calc( 50% - 50px);
    top: 380px;
}